<div class="report-div">
  <table class="report-table">
    <thead>
      <tr>
        <th class="th-resort1"></th>
        <th class="th-ytd">YTD</th>
        <th class="th-l7">L7</th>
        <th class="th-new-2">MON</th>
        <th class="th-new-2">TUE</th>
        <th class="th-new-2">WED</th>
        <th class="th-new-2">THU</th>
        <th class="th-new-2">FRI</th>
        <th class="th-new-2">SAT</th>
        <th class="th-new-1">NEW</th>
        <th class="th-base">BASE</th>
        <th class="th-resort2">WED, OCT 23, 2018</th>
        <th class="th-state"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="row-odd td-resort">WINTER PARK</td>
        <td class="row-odd td-ytd">184</td>
        <td class="row-odd td-last7">26</td>
        <td class="row-odd td-new" [ngStyle]="myStyles3">3</td>
        <td class="row-odd td-new">0</td>
        <td class="row-odd td-new">0</td>
        <td class="row-odd td-new" [ngStyle]="myStyles10">14</td>
        <td class="row-odd td-new" [ngStyle]="myStyles7">7</td>
        <td class="row-odd td-new" [ngStyle]="myStyles2">2</td>
        <td class="row-odd td-new1" [ngStyle]="myStyles1">1</td>
        <td class="row-odd td-new td-base">64</td>
        <td class="row-odd td-resort">WINTER PARK</td>
        <td class="row-odd td-state">CO</td>
      </tr>
      <tr>
        <td class="row-even td-resort">ARAPAHOE BASIN</td>
        <td class="row-even td-ytd">124</td>
        <td class="row-even td-last7">13</td>
        <td class="row-even td-new" [ngStyle]="myStyles3">3</td>
        <td class="row-even td-new">0</td>
        <td class="row-even td-new" [ngStyle]="myStyles1">1</td>
        <td class="row-even td-new" [ngStyle]="myStyles7">7</td>
        <td class="row-even td-new" [ngStyle]="myStyles2">2</td>
        <td class="row-even td-new" [ngStyle]="myStyles1">1</td>
        <td class="row-even td-new1">0</td>
        <td class="row-even td-new td-base">55</td>
        <td class="row-even td-resort">ARAPAHOE BASIN</td>
        <td class="row-even td-state">CO</td>
      </tr>
      <tr>
          <td class="row-odd td-resort">ASPEN HIGHLANDS</td>
          <td class="row-odd td-ytd">124</td>
          <td class="row-odd td-last7">13</td>
          <td class="row-odd td-new" [ngStyle]="myStyles3">3</td>
          <td class="row-odd td-new">0</td>
          <td class="row-odd td-new">0</td>
          <td class="row-odd td-new" [ngStyle]="myStyles1">1</td>
          <td class="row-odd td-new" [ngStyle]="myStyles7">7</td>
          <td class="row-odd td-new" [ngStyle]="myStyles2">2</td>
          <td class="row-odd td-new1" [ngStyle]="myStyles1">1</td>
          <td class="row-odd td-new td-base">55</td>
          <td class="row-odd td-resort">ASPEN HIGHLANDS</td>
          <td class="row-odd td-state">CO</td>
        </tr>
    </tbody>
  </table>
</div>
