mat-form-field {
  width: 300px;
}
.ad320x100 {
  width: 320px;
  height: 100px;
  background: rgb(39, 159, 199);
  color: lightblue;
}
.ad320x250 {
  width: 320px;
  height: 250px;
  background: rgb(39, 159, 199);
  color: lightblue;
}
