
<table class="forecast-table">
    <thead>
      <tr>
        <th class="th-resort1">WED, OCT 23, 2018</th>
        <th class="th-forecast">Today</th>
        <th class="th-forecast">Tonight</th>
        <th class="th-forecast">Friday</th>
        <th class="th-forecast">Fri Nite</th>
        <th class="th-forecast">Saturday</th>
        <th class="th-forecast">Sat Nite</th>
        <th class="th-forecast">Sunday</th>
        <th class="th-forecast">Sun Nite</th>
        <th class="th-forecast">Monday</th>
        <th class="th-resort2"></th>
        <th class="th-state"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="row-odd td-resort">WINTER PARK</td>

        <app-nws-forecast></app-nws-forecast>

        <td class="row-odd td-resort">WINTER PARK</td>
        <td class="row-odd td-state">CO</td>
      </tr>
    </tbody>
  </table>
