
<table class="forecast-table">
    <thead>
      <tr>
        <th class="th-resort1"></th>
        <th class="th-forecast">Today</th>
        <th class="th-resort2"></th>
        <th class="th-state"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of zoneAreas">
        <td class="row-odd td-resort">{{ x.n }}</td>

        <app-nws-forecast [nwsUrl]="x.nws"></app-nws-forecast>

        <td class="row-odd td-resort">{{ x.n }}</td>
        <td class="row-odd td-state">{{ x.s }}</td>
      </tr>
    </tbody>
  </table>
