a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: #777;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
}

.nav-close {
  padding-right: 7px;
}

.ad728x90 {
  width: 728px;
  height: 90px;
  background: rgb(39, 159, 199);
  color: lightblue;
}

.logo-txt {
  padding-left: 10px;
}

