

<mat-sidenav-container>
    <mat-sidenav #sidenav position="end" role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="/reports">
          <mat-icon>clear</mat-icon>
          <span class="nav-caption">Close</span>
      </a>
        <hr />
        <a mat-list-item routerLink="/signup">
          <mat-icon>face</mat-icon>
          <span class="nav-caption">Signup</span>
        </a>
        <a mat-list-item routerLink="/login">
          <mat-icon>input</mat-icon>
          <span class="nav-caption">Login</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>chat</mat-icon>
          <span class="nav-caption">Chat on Slack</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>contact_support</mat-icon>
          <span class="nav-caption">Contact Us</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>settings</mat-icon>
          <span class="nav-caption">Settings</span>
        </a>
        <hr />
        <a mat-list-item routerLink="/reports">
          <mat-icon>list_alt</mat-icon>
          <span class="nav-caption">List</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>cloud_queue</mat-icon>
          <span class="nav-caption">Cloud</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>videocam</mat-icon>
          <span class="nav-caption">Cam</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>terrain</mat-icon>
          <span class="nav-caption">Statistics</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>map</mat-icon>
          <span class="nav-caption">Maps</span>
        </a>
        <a mat-list-item routerLink="/reports">
          <mat-icon>place</mat-icon>
          <span class="nav-caption">Directions</span>
        </a>
        <hr />
        <a mat-list-item routerLink="/reports">
          <mat-icon>web_asset</mat-icon>
          <span class="nav-caption">Parent</span>
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <mat-icon>change_history</mat-icon>
        <div><a routerLink="/" class="logo-txt">IIII SSSS RRRRRR</a></div>
        <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/reports">Reports</a></li>
          </ul>
        </div> -->
        <!-- <div fxFlex fxLayoutAlign="flex-end" fxHide.gt-xs> -->
        <div fxFlex fxLayoutAlign="flex-end">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
        </div>
      </mat-toolbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
