<div fxLayout="column">
  <mat-tab-group mat-stretch-tabs color="accent" #tabGroup (selectedTabChange)="tabChanged($event)">

    <mat-tab label="WEST" class="mat-tab-label">
      <app-ad-image></app-ad-image>
      <mat-tab-group mat-stretch-tabs  color="accent">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-report-table [zoneAreas]="zoneWest"></app-report-table> <!-- pass zone into report-->
        </mat-tab>
        <mat-tab label="FORECASTS" class="mat-tab-label">
          <app-forecast-table [zoneAreas]="zoneWest"></app-forecast-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-stat-table [zoneAreas]="zoneWest"></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="ROCKIES" class="mat-tab-label">
      <app-ad-image></app-ad-image>
      <mat-tab-group mat-stretch-tabs  color="accent">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-report-table [zoneAreas]="zoneRockies"></app-report-table>
        </mat-tab>
        <mat-tab label="FORECASTS" class="mat-tab-label">
          <app-forecast-table [zoneAreas]="zoneRockies"></app-forecast-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-stat-table [zoneAreas]="zoneRockies"></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="EAST" class="mat-tab-label">
      <app-ad-image></app-ad-image>
      <mat-tab-group mat-stretch-tabs color="accent">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-report-table [zoneAreas]="zoneEast"></app-report-table>
        </mat-tab>
        <mat-tab label="FORECASTS" class="mat-tab-label">
          <app-forecast-table></app-forecast-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-stat-table [zoneAreas]="zoneEast"></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="CANADA" class="mat-tab-label">
      <app-ad-image></app-ad-image>
      <mat-tab-group mat-stretch-tabs color="accent">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-report-table [zoneAreas]="zoneCanada"></app-report-table>
        </mat-tab>
        <mat-tab label="FORECASTS" class="mat-tab-label">
          <app-forecast-table></app-forecast-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-stat-table [zoneAreas]="zoneCanada"></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="ALL" class="mat-tab-label">
      <app-ad-image></app-ad-image>
      <mat-tab-group mat-stretch-tabs  color="accent">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-report-table [zoneAreas]="zoneAll"></app-report-table>
        </mat-tab>
        <mat-tab label="FORECASTS" class="mat-tab-label">
          <app-forecast-table [zoneAreas]="zoneAll"></app-forecast-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-stat-table [zoneAreas]="zoneAll"></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
</mat-tab-group>

