<div fxLayout="column">
  <mat-tab-group mat-stretch-tabs color="accent" backgroundColor="disabled">

    <mat-tab label="WEST" class="mat-tab-label">
      <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-report-table></app-report-table>
        </mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-forecast-table></app-forecast-table>
        </mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-link-table></app-link-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-stat-table></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="ROCKIES" class="mat-tab-label">
      <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-report-table></app-report-table>
        </mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-forecast-table></app-forecast-table>
        </mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-link-table></app-link-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-stat-table></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="EAST" class="mat-tab-label">
      <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-report-table></app-report-table>
        </mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-forecast-table></app-forecast-table>
        </mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-link-table></app-link-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-stat-table></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="CANADA" class="mat-tab-label">
      <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-report-table></app-report-table>
        </mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-forecast-table></app-forecast-table>
        </mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-link-table></app-link-table>
        </mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">
          <app-ad-image></app-ad-image>
          <app-stat-table></app-stat-table>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>

</mat-tab-group>
