.report-div {
  width: 100%;
  overflow-x:scroll;
  overflow-y:visible;
  padding-bottom:1px;
  direction:rtl;
}
.report-table {
  width: 100%;
  min-width: 650px;
  border-collapse: collapse;
  font-size: 12px;
  overflow-x: scroll;
  direction:ltr;
}
table, td, th {
  border: 1px solid #7986CB;
}
th {
  margin: 0px;
  padding: 0px;
  background-color: #3949AB;
  color: #FFF;
  height: 50px;
  font-weight: 200;
}
td {
  text-align: center;
}
.th-ytd {
  width: 7%;
}
.th-l7 {
  width: 7%;
}
.th-new-2 {
  width: 5.5%;
  background-color: #3949AB;
  color: #FFF;
}
.th-new-1 {
  background-color: #3949AB;
  color: #FFF;
  width: 6%;
  font-weight: 300;
}
.th-base {
  background-color: #3949AB;
  color: #FFF;
  width: 7%;
  font-weight: 300;
}
.th-resort1 {
  width: 20%;
}
.th-resort2 {
  background-color: #3949AB;
  color: #FFF;
  width: 20%;
  text-align: left;
  padding-left: 7px;
  font-weight: 300;
}
.th-state {
  background-color: #3949AB;
  width: 6%;
}
.row-odd {
  /* background-color: #E3F2FD;
  color: #666; */
  height: 50px;
  font-weight: 500;
}
.td-ytd {
  background-color: #BBDEFB;
}
.td-last7 {
  border-left: 1px solid #7986CB;
  border-top: 1px solid #7986CB;
  background-color: #BBDEFB;
}
.td-new {
  color: #555;
}
.td-new1 {
  color: #3949AB;
  font-weight: 600;
}
.td-base {
  background-color: #BBDEFB;
  color: #3949AB;
  font-weight: 600;
}
.td-resort {
  background-color:#3949AB;
  color: #FFF;
  text-align: left;
  padding-left: 7px;
  font-weight: 300;
}
.td-state {``
  background-color:#3949AB;
  color: #FFF;
  padding-right: 8px;
  padding-left: 8px;
  border-top: 1px solid #5C6BC0;
  border-left: 1px solid #5C6BC0;
  font-weight: 300;
}
td a {
  display:block;
  width:100%;
  color: #FFF;
}
td a:link {
  text-decoration: none;
}
td a:visited {
  text-decoration: none;
}
