<div class="report-div">
  <table class="report-table">
    <thead>
      <tr>
        <th class="th-resort1"></th>
        <th class="th-ytd">YTD</th>
        <th class="th-l7">L7</th>
        <th class="th-new-2">MON</th>
        <th class="th-new-2">TUE</th>
        <th class="th-new-2">WED</th>
        <th class="th-new-2">THU</th>
        <th class="th-new-2">FRI</th>
        <th class="th-new-2">SAT</th>
        <th class="th-new-1">NEW</th>
        <th class="th-base">BASE</th>
        <th class="th-resort2">WED, OCT 23, 2018</th>
        <th class="th-state"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of zoneReports" (click)="setClickedRow(x.i)">
        <td class="row-odd td-resort">{{ x.n }}</td>
        <td class="row-odd td-ytd">{{ x.y }}</td>
        <td class="row-odd td-ytd">{{ x.w }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="x.a">{{ x.a }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="x.b">{{ x.b }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="x.c">{{ x.c }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="x.d">{{ x.d }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="x.e">{{ x.e }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="x.f">{{ x.f }}</td>
        <td class="row-odd td-new1" appSnowDepth [snowDepth]="x.g">{{ x.g }}</td>
        <td class="row-odd td-new td-base">{{ x.m }}</td>
        <td class="row-odd td-resort">{{ x.n }}</td>
        <td class="row-odd td-state">{{ x.s }}</td>
      </tr>
    </tbody>
  </table>
</div>

