<div class="report-div">
  <table class="report-table">
    <thead>
      <tr>
        <th class="th-resort1"></th>
        <th class="th-ytd">YTD</th>
        <th class="th-l7">L7</th>
        <th class="th-new-2">MON</th>
        <th class="th-new-2">TUE</th>
        <th class="th-new-2">WED</th>
        <th class="th-new-2">THU</th>
        <th class="th-new-2">FRI</th>
        <th class="th-new-2">SAT</th>
        <th class="th-new-1">NEW</th>
        <th class="th-base">BASE</th>
        <th class="th-resort2">WED, OCT 23, 2018</th>
        <th class="th-state"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of zoneReports">
        <td class="row-odd td-resort">{{ i.n }}</td>
        <td class="row-odd td-ytd">{{ i.y }}</td>
        <td class="row-odd td-ytd">{{ i.w }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="i.a">{{ i.a }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="i.b">{{ i.b }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="i.c">{{ i.c }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="i.d">{{ i.d }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="i.e">{{ i.e }}</td>
        <td class="row-odd td-new" appSnowDepth [snowDepth]="i.f">{{ i.f }}</td>
        <td class="row-odd td-new1" appSnowDepth [snowDepth]="i.g">{{ i.g }}</td>
        <td class="row-odd td-new td-base">{{ i.m }}</td>
        <td class="row-odd td-resort">{{ i.n }}</td>
        <td class="row-odd td-state">{{ i.s }}</td>
      </tr>
    </tbody>
  </table>
</div>

