<div class="report-div">
  <table class="report-table">
    <thead>
      <tr>
        <th class="th-resort1"></th>
        <th class="th-ytd">YTD</th>
        <th class="th-l7">L7</th>
        <th class="th-new-2">MON</th>
        <th class="th-new-2">TUE</th>
        <th class="th-new-2">WED</th>
        <th class="th-new-2">THU</th>
        <th class="th-new-2">FRI</th>
        <th class="th-new-2">SAT</th>
        <th class="th-new-1">NEW</th>
        <th class="th-base">BASE</th>
        <th class="th-resort2">WED, OCT 23, 2018</th>
        <th class="th-state"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of zoneReports">
        <td class="row-odd td-resort">{{ i.n }}</td>
        <td class="row-odd td-ytd">{{ i.y }}</td>
        <td class="row-odd td-last7">{{i.w }}</td>
        <td class="row-odd td-new" [ngStyle]="myStyles3">{{ i.a }}</td>
        <td class="row-odd td-new">{{ i.b }}</td>
        <td class="row-odd td-new">{{ i.c }}</td>
        <td class="row-odd td-new" [ngStyle]="myStyles10">{{ i.d }}</td>
        <td class="row-odd td-new" [ngStyle]="myStyles7">{{ i.e }}</td>
        <td class="row-odd td-new" [ngStyle]="myStyles2">{{ i.f }}</td>
        <td class="row-odd td-new1" [ngStyle]="myStyles1">{{ i.g }}</td>
        <td class="row-odd td-new td-base">{{ i.m }}</td>
        <td class="row-odd td-resort">{{ i.n }}</td>
        <td class="row-odd td-state">{{ i.s }}</td>
      </tr>
    </tbody>
  </table>
</div>

