<mat-toolbar color="primary">
  <mat-icon>change_history</mat-icon>
  <div><a routerLink="/" class="logo-txt">IKON Snow Reports</a></div>
  <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/views">Views</a></li>
    </ul>
  </div> -->
  <!-- <div fxFlex fxLayoutAlign="flex-end" fxHide.gt-xs> -->
  <div fxFlex fxLayoutAlign="flex-end">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
  </div>
</mat-toolbar>

