<div fxLayout="column">


  <mat-tab-group mat-stretch-tabs color="accent" backgroundColor="disabled">
    <mat-tab label="WEST" class="mat-tab-label">

      <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">

          <div class="add-top">
            <div class="box-for-728x90" fxLayoutAlign="center center" fxHide.lt-md>
              <div class="ad-728x90" fxLayoutAlign="center center">
                <img src="./assets/images/placeholder-728x90.JPG" alt="">
              </div>
            </div>
            <div class="box-for-320x100" fxLayoutAlign="center center" fxHide.gt-sm>
              <div class="ad-320x100" fxLayoutAlign="center center">
                <img src="./assets/images/placeholder-320x100.JPG" alt="">
              </div>
            </div>
          </div>

          <div class="reports-table">
            <app-report-table></app-report-table>
          </div>
        </mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">
                <div class="box-for-728x90" fxLayoutAlign="center center" fxHide.lt-md>
                    <div class="ad-728x90" fxLayoutAlign="center center"><img src="./assets/images/placeholder-728x90.JPG" alt=""></div>
                  </div>
                  <div class="box-for-320x100" fxLayoutAlign="center center" fxHide.gt-sm>
                    <div class="ad-320x100" fxLayoutAlign="center center"><img src="./assets/images/placeholder-320x100.JPG" alt=""></div>
                  </div>

              <div class="forecast">
                <table class="forecast-table">
                  <thead>
                    <tr>
                        <th class="th-resort1">WED, OCT 23, 2018</th>
                      <th class="th-forecast">Today</th>
                      <th class="th-forecast">Tonight</th>
                      <th class="th-forecast">Friday</th>
                      <th class="th-forecast">Fri Nite</th>
                      <th class="th-forecast">Saturday</th>
                      <th class="th-forecast">Sat Nite</th>
                      <th class="th-forecast">Sunday</th>
                      <th class="th-forecast">Sun Nite</th>
                      <th class="th-forecast">Monday</th>
                      <th class="th-resort2"></th>
                      <th class="th-state"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="row-odd td-resort">WINTER PARK</td>
                      <td class="td-forecast">
                        <div class="forecast-desc">Snow Showers Likely</div>
                        <img src="./assets/images/sn60.png">
                        <div class="forecast-high">High 22 F</div>
                        <div class="forecast-wind">WSW 5-9 mph</div>
                        <div class="forecast-snow">1 - 3"</div>


                      </td>
                      <td class="td-forecast">
                        <div class="forecast-desc">Chance Snow Showers</div>
                        <img src="./assets/images/nsn50.png">
                        <div class="forecast-low">Low 15 F</div>
                        <div class="forecast-wind">SW 8-10 mph</div>
                        <div class="forecast-snow">< 1"</div>

                      </td>
                      <td class="td-forecast">
                          <div class="forecast-desc">Chance Snow Showers</div>
                          <img src="./assets/images/sn50.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">~ 1"</div>
                        </td>
                      <td class="td-forecast">
                          <div class="forecast-desc">Chance Snow Showers</div>
                          <img src="./assets/images/nsn50.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">1 - 3"</div>
                        </td>
                      <td class="td-forecast">
                          <div class="forecast-desc">Snow Showers Likely</div>
                          <img src="./assets/images/sn70.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">1 - 3"</div>
                        </td>
                      <td class="td-forecast">
                          <div class="forecast-desc">Snow Showers Likely</div>
                          <img src="./assets/images/nsn60.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">3 - 7"</div>
                        </td>
                      <td class="td-forecast">
                          <div class="forecast-desc">Snow Showers Likely</div><img src="./assets/images/sn70.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">2 - 4"</div>
                        </td>

                      <td class="td-forecast">
                          <div class="forecast-desc">Snow Showers Likely</div>
                          <img src="./assets/images/nsn.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">24 - 48"</div>
                        </td>
                      <td class="td-forecast">
                          <div class="forecast-desc">Chance Snow Showers then Mostly Sunny</div>
                          <img src="./assets/images/DualImage.php.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow"></div>
                      </td>
                      <td class="row-odd td-resort">WINTER PARK</td>
                      <td class="row-odd td-state">CO</td>
                    </tr>
                    <tr>
                        <td class="row-odd td-resort">WINTER PARK</td>
                        <td class="td-forecast">
                          <div class="forecast-desc">Snow Showers Likely</div>
                          <img src="./assets/images/sn60.png">
                          <div class="forecast-high">High 22 F</div>
                          <div class="forecast-wind">WSW 5-9 mph</div>
                          <div class="forecast-snow">1 - 3"</div>


                        </td>
                        <td class="td-forecast">
                          <div class="forecast-desc">Chance Snow Showers</div>
                          <img src="./assets/images/nsn50.png">
                          <div class="forecast-low">Low 15 F</div>
                          <div class="forecast-wind">SW 8-10 mph</div>
                          <div class="forecast-snow">< 1"</div>

                        </td>
                        <td class="td-forecast">
                            <div class="forecast-desc">Chance Snow Showers</div>
                            <img src="./assets/images/sn50.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow">~ 1"</div>
                          </td>
                        <td class="td-forecast">
                            <div class="forecast-desc">Chance Snow Showers</div>
                            <img src="./assets/images/nsn50.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow">1 - 3"</div>
                          </td>
                        <td class="td-forecast">
                            <div class="forecast-desc">Snow Showers Likely</div>
                            <img src="./assets/images/sn70.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow">1 - 3"</div>
                          </td>
                        <td class="td-forecast">
                            <div class="forecast-desc">Snow Showers Likely</div>
                            <img src="./assets/images/nsn60.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow">3 - 7"</div>
                          </td>
                        <td class="td-forecast">
                            <div class="forecast-desc">Snow Showers Likely</div><img src="./assets/images/sn70.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow">2 - 4"</div>
                          </td>

                        <td class="td-forecast">
                            <div class="forecast-desc">Snow Showers Likely</div>
                            <img src="./assets/images/nsn.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow">24 - 48"</div>
                          </td>
                        <td class="td-forecast">
                            <div class="forecast-desc">Chance Snow Showers then Mostly Sunny</div>
                            <img src="./assets/images/DualImage.php.png">
                            <div class="forecast-low">Low 15 F</div>
                            <div class="forecast-wind">SW 8-10 mph</div>
                            <div class="forecast-snow"></div>
                        </td>
                        <td class="row-odd td-resort">WINTER PARK</td>
                        <td class="row-odd td-state">CO</td>
                      </tr>

                  </tbody>
                </table>
              </div>
        </mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">LINKS</mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">STATS</mat-tab>
    </mat-tab-group>
  </mat-tab>


  <mat-tab label="ROCKIES" class="mat-tab-label">
    <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">

            <div class="add-top">
                <div class="box-for-728x90" fxLayoutAlign="center center" fxHide.lt-md>
                  <div class="ad-728x90" fxLayoutAlign="center center">
                    <img src="./../assets/images/placeholder-728x90.JPG" alt="">
                  </div>
                </div>
                <div class="box-for-320x100" fxLayoutAlign="center center" fxHide.gt-sm>
                  <div class="ad-320x100" fxLayoutAlign="center center">
                    <img src="./../assets/images/placeholder-320x100.JPG" alt="">
                  </div>
                </div>
              </div>

              <div class="reports-table">
                <app-report-table></app-report-table>
              </div>

        </mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">Weather</mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">LINKS</mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">STATS</mat-tab>
    </mat-tab-group>
  </mat-tab>

  <mat-tab label="EAST" class="mat-tab-label">
    <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">REPORTS</mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">Weather</mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">LINKS</mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">STATS</mat-tab>
    </mat-tab-group>
  </mat-tab>

  <mat-tab label="CANADA" class="mat-tab-label">
    <mat-tab-group mat-stretch-tabs  color="accent" backgroundColor="disabled">
        <mat-tab label="REPORTS" class="mat-tab-label">REPORTS</mat-tab>
        <mat-tab label="WEATHER" class="mat-tab-label">Weather</mat-tab>
        <mat-tab label="LINKS" class="mat-tab-label">LINKS</mat-tab>
        <mat-tab label="STATS" class="mat-tab-label">STATS</mat-tab>
    </mat-tab-group>
  </mat-tab>

</mat-tab-group>

<h1>News for today</h1>
<p>Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news. Here is some news.</p>
